<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/registro.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

<main class="register">
    <form class="form" action="" method="POST">
        <h4>Datos personales</h4>
        <div class="register">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required>
        </div>
        <div class="register">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
        </div>

        <div class="register">
            <label for="email">E-Mail:</label>
            <input type="text" name="email" id="email" placeholder="Ingresar Email" required>
        </div>

        <h4>nacimiento</h4>
        <div class="date">
            <label for="nacimiento">Nacimiento:</label>
            <input class="register" type="date" name="fecha" id="fecha" required>
        </div>

        <div class="date">
            <label for="domicilio">Domicilio:</label>
            <input class="register" type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
        </div>

        <div class="usuario">
            <h5 class="cuenta">Perfil de usuario</h5>
            <label for="vendedor">Vendedor:</label>
            <input type="radio" name="usuario" id="vendedor">
            
        <label for="comprador">Comprador:</label>
        <input type="radio" name="usuario" id="comprador">

        </div>
        <h5 class="list">Intereses</h5>
        <div class="lista">
            <div class="categorías">
           <input type="checkbox" name="electro" id="electro">
           <label for="electro">Electro</label>
           <div class="moda">
            <input type="checkbox" name="moda" id="moda">
            <label for="moda">Moda</label>
            
        </div>
         
        <div class="hogar">
            <input type="checkbox" name="hogar" id="hogar">
            <label for="hogar">Hogar</label>    
        </div>
         
        <div class="juguetes">
            <input type="checkbox" name="juguetes" id="juguetes">
            <label for="juguetes">Juguetería</label>
        </div>
         
        <div class= "salud">
            <input type="checkbox" name="salud" id="salud">
            <label for="salud">Vida sana</label>
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="password">confirmar contraseña:</label>
            <input type="password" name="password" required>
        </div>        
        <div>
            <a href="/home">
                <input type="submit" value="ENVIAR">
            </a>

        </div>
       </div>

        
         </form>
</main>


    <footer class="footer-article">
      
        <article class="items">
     
          <div class="div-footer">
        <i class="fa-solid fa-credit-card"></i>
        <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </div>
  
      
        <div class="div-footer"> 
          <i class="fa-solid fa-gift"></i>
        <h3><strong>Envío gratis desde $ 2.500</strong></h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </div>
  
      
      <div class="div-footer">
          <i class="fa-solid fa-user-shield"></i>
        <h3><strong>Seguridad, de principio a fin</strong></h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
      </div>
  
   
        </article>
  
        <div >
          <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
         </div>
     
      </footer>    
</body>
</html>