@import "./home.css";
@import "./footer.css";
@import "./registro.css";
@import "./login.css";






:root {
   --amarillo:#EAC926;
   --azul:#03264C;
   --celeste:#1259c3;
   --grisOscuro:#666;
   --grisClaro:#ebebeb;
   --verde:#39b54a; 
   --blanco:#FFFFFF;
   --negro:#000000;
  
   --familyRoboto:'roboto';

   --cuerpoTexto:12px;
   --titulares:24px;
   --precios:18px;
   --descuentos:16px;
   --descripciones:16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    }

body {

    background-color: var(--grisClaro);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
img{
    max-width: 100%;
}
#logo{
    width: 100%;
   display: flex;
   height: auto;
   flex-wrap: wrap;
   justify-content: space-around;
   }
#logo img{
    width: 50%;
}
/*header*/

ul{
    list-style-type: none;
    font-family: var(--familyRoboto);
    display: flex;
    list-style: none;
    font-size: var(--descripciones);
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: var(--negro);
    font-size: var(--descripciones);
}
.header-nav{
    display: none;
}
.banner img{
    width: 100%;
}

.header-home {
 background-color: var(--amarillo);
 padding: 1rem;
 padding-top: 1rem;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 width: 100%;
 
}
#header-busqueda{
    width: 45%;
 border:solid 2px var(--negro);
font-size: 35px;
background-color: var(--blanco);
text-align: center;
font-family: var(--familyRoboto);
display: flex;
align-items: center;
border-radius: 5px;
height: 2rem;
vertical-align: middle;
}

#header-busqueda input{
    width: 80%;
    height: 100%;   
    border: none;
}
#header-busqueda button{
    width: 20%;
    border: none;
    font-size: 10px;
    color: var(--grisOscuro);
    background-color: transparent;
    
}
#cuotas{
    display: flex;
    padding: 10px 0px 10px 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#cuotas h3{
    font-size: var(--cuerpoTexto);
    padding: 5px;
    font-weight: normal;
}
#burger-menu{
    text-align: center;
  }
#burger{
    text-align: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: var(--celeste);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    font-size: 30px;
    
}

/* productos*/
h2{
    font-size: var(--titulares);
    color: var(--grisOscuro);
}


.productos{
    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
    background-color: var(--blanco);
    margin-bottom: 1rem;
    padding-top: 15px;
    width: 100%;
    border-radius: 3px;
}
.productos div{
    border-top: 1px var(--grisClaro) solid;
    width: 100%;
    padding: 5px 15px 15px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.informacion-productos{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.producto-img{
    font-weight: bolder;
    color: var(--grisOscuro);
}

.precio {
    color: var(--grisOscuro);
    font-size: var(--precios);
   
}
.descuento {
 color: var(--verde);
 font-size: var(--descuentos);

}

h3.producto {
color: var(--grisOscuro);
font-family: var(--familyRoboto);
font-size: var(--descripciones);

}

.main-producto{
    display: flex;
    flex-direction: column;
    gap: 8.5px;
    width:90%;
}
.main-producto h2{
    text-align: center;
}

.seccion-ofertas{
    display: flex;
    flex-direction: column;
    gap: 8.5px;
    width: 90%;
}
.seccion-ofertas h2{
    text-align: center;
}

.envio .fa-truck {
    border: 1px var(--verde) solid;
    padding: 3px 15px 15px 3px;
    margin: 10px 0;
    border-radius: 50%;
    color: var(--verde);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   right: 12px;
   top: -12px;
}


/*footer*/

footer {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.div-footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    
}
.div-footer i{
    padding: 5px;
    color: var(--celeste) ;
    font-size: 2.5rem;
    
}

.div-footer h4 {
    font-size: var(--titulares) ;
   color: var(--grisOscuro);
    font-family: var(--familyRoboto);

     }

.div-footer p{
    color:var(--grisOscuro);
  font-size: var(--cuerpoTexto);
  font-family: var(--familyRoboto);

   
}

footer .copy{
    font-family: var(--familyRoboto);
   color: var(--grisOscuro);
   font-size: var(--cuerpoTexto);
 
}


@media(min-width:768px) {
    #logo{
        align-items: center;
        justify-content: space-around;
    }
    #logo img{
        width: 32%;
    }
    #header-busqueda{
        width: 29%;
    }
    #cuotas{
        width: 32%;
        align-items: center;
        justify-content: center;
    }
    .header-nav{
        display: inline-flex;
        justify-content: space-between;
        vertical-align: middle;
    }

    a{
        text-decoration: none;
        color: var(--negro);
    }

    #lista-nav{
        width: 45%;
        padding: 10px 0px 10px 10px;
        display: flex;
        gap: 1rem;
        justify-content: start;
        color: var(--negro);
    }
    #list-nav-iconos{
        width: 45%;
        padding: 10px 10px 10px 0px;
        display: flex;
        gap: 1rem;
        justify-content: end;
        color: var(--negro);
    }

   
    #burger-menu{
        display: none;
    }

    .main-producto{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .main-producto h2{
        text-align: left;
        width: 100%;
        padding-left: 3px;
    }
    .seccion-ofertas{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .seccion-ofertas h2{
        text-align: left;
        width: 100%;
        padding-left: 3px;
    }

    .productos{
        width: 45%;
    }

    footer{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    footer div{
        width: 45%;
    }

    footer h5{
        width: 100%;
        text-align: center;
    }

    .banner-registro {
        width: 50% ;
      }

      .banner-login {
        display: none;
      }
     }

    @media (min-width: 1024px) {
        #logo img {
            width: 35%;
        }
        #header-busqueda{
            width: 30%;
        }

        #cuotas{
            width: 22%;
        }

        .productos{
            width: 22%;
        }
        .main-producto{
            padding-left: 10px;
        }
        .seccion-ofertas h2{
            padding-left: 10px;
        }
        .detalle-producto{
            padding-top: 1rem;
        }
        .producto-img{
           font-size: 1.2rem; 
        }
        footer div{
            width: 30%;
        }
        footer div p{
            font-size: 1.2rem;
        }
    }


