:root {
   --amarillo:#EAC926;
   --azul:#03264C;
   --celeste:#1259c3;
   --grisOscuro:#666;
   --grisClaro:#ebebeb;
   --verde:#39b54a; 

   --familyRoboto:'roboto';

   --cuerpoTexto:12px;
   --titulares:24px;
   --precios:18px;
   --descuentos:16px;
   --descripciones:16px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--grisClaro);
}

main {
    width: 90%;
    background-color: var(--grisClaro);
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ebebeb;
    padding: 0px 15px 15px 15px; 
    border-radius: 10px;
  

}
.main .banner{
    width: 100%;
    margin-top: 20px;
}


section {
    margin:10px 10px 50px 10px;
    padding: 20px;
    
}


.header-home {
 background-color: var(--amarillo);

}

 img.logo {
    width: 500px;
    margin: 60px 0px 15px 60px;
 }


.header-comprar{
    text-align: center;
    font-family: var(--familyRoboto);
    font-size: 20px;
}

.header-comprar i {
    font-size: 40px;
}

.header-busqueda{
    width: 45%;
color: #666;
 border:solid 2px black;
font-size: 35px;
background-color: white;
margin: 15px 0px 0px 60px ;
font-family: var(--familyRoboto);
display: flex;
align-items: center;


}

.burger-menu {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: var(--celeste);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
  
}

.lista-Nav{
 font-family: var(--familyRoboto);
 margin: 0;
 padding: 0;
 list-style: none;
 font-size: var(--descripciones);
}
img.banner{
    width: 980px;
    height: 240px;
}


a {
    text-decoration: none;
    color: black;
    font-size: var(--descripciones);
}


/* productos*/
 .div-producto{
    border-top: 1px  #ebebeb solid;
    padding: 15px;
    margin: 50px 0;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    border: 1px var(--grisClaro) solid;
    border-bottom: 5px var(--grisClaro) solid;
   
    

    
 }

 img.img-producto {
    max-width: 100%;
    border-bottom:  5px var(--grisClaro) solid;
   
 }

 .precio .descuento .producto {
    margin: 110px;
 }
 


.main-producto section .div-producto{
   box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.subtitulo {
    color:var(--grisOscuro);
     font-size: 65px;
    font-family: var(--familyRoboto);   
    margin: 10px 0px 20px;
    text-align: center;

}
p.precio {
    color: var(--grisOscuro);
    font-size: var(--precios);
   
}
p.descuento {
 color: var(--verde);
 
 font-size: var(--descuentos);

}

h3.producto {
color: var(--grisOscuro);
font-family: var(--familyRoboto);
font-size: var(--descripciones);

}

img.img-producto {
width: 100%;
  margin: 0px auto;
  
  
}
.div-producto .fa-truck {
    border: 1px var(--verde) solid;
    padding: 3px 15px 15px 3px;
    margin: 10px 0;
    border-radius: 50%;
    color: var(--verde);
}


/*footer*/

.footer-article{

    text-align: center;
    
}
.footer-article article.items i{
    
    color: var(--celeste) ;
    font-size: 90px;
}

.footer-article h3 {
    font-size: var(--titulares) ;
   color: black;
    font-family: var(--familyRoboto);
    text-align: center;
    margin: 0px;
     }

.footer-article p{
    color:var(--grisOscuro);
  font-size: var(--cuerpoTexto);
  font-family: var(--familyRoboto);
  text-align: center;
  margin: 0px;
   
}

.footer-article div p.copy{
    font-family: var(--familyRoboto);
   margin: 0px 200px 50px 20px;
   color: var(--grisOscuro);
}


.div-footer{
  
    margin: 20px 100px 100px 100px;
}


@media (min-width: 361px) {
    main {
        width: 80%; 
    }

    img.banner {
        width: 100%; 
    }

    .div-producto {
        margin: 30px 0; 
    }

    .header-busqueda {
        width: 60%; 
    }
}


@media  (min-width: 769px) {
    main {
        width: 70%; 
    }

    img.banner {
        width: 980px; 
    }

    .div-producto {
        margin: 50px 0; 
    }

    .header-busqueda {
        width: 45%; 
    }
}


@import '';